@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roboto: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto);
}

div {
    border: solid red 1px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    min-height: 100vh;
}

.sidebar {
    display: grid;
    grid-template-rows: 0.5fr 5fr 0.5fr;
}

.sidebar h2 {
    padding: 0.3rem;
    font-size: 2.5rem;
}

.sidebar h3 {
    font-size: 2rem;
}

.todo-and-project-list {
    display: grid;
    grid-row: 2/3;
    grid-template-rows: 1fr 1fr;
}

.tasks, .projects {
    padding: 0.4rem;
}

.tasks ul, .projects ul {
    list-style-type: none;
}

.technical-section {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.technical-section div {
    padding: 0.3rem;
}

.technical-section h4 {
    font-size: 1.5rem;
}

.todo-display {
    grid-column: 2/3;
    padding: 0.5rem;
}

.todo-info {
    padding: 0.5rem;
    border-radius: 1.5rem;
}